*{
    box-sizing: border-box;
    /* Time to define my custom variables */
    --main-bg-color: #504486;
    --form-bg-color: #ACA4D0;
    --main-text-color: #211118;
    --emphasis-text-color:#773652;
    --accent-colors: #5A2769; /* RGB: rgb(90, 39, 105)*/
    font-family: 'Acme', sans-serif;
    /* Sweater Color Scheme:
    #C8AB8B - cornflour yellow
    #A7442F - red argyle
    #6F8F6E - green argyle
    black - sweater background
    grey - argyle lines
    */
}
html{
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
}
#Title{
    text-justify: center;
    text-align: center;
    height: 5vh;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 2em;
}
@supports (display:grid){
#survey-form{
    font-size: 1.25em;
    line-height: 1.25em;
    display: grid;
    padding: 20px;
    background-color: var(--form-bg-color);
    margin-left: 10%;
    margin-right: 10%;
    grid-template-areas:    "description description"
                            "name-prompt  name-input"
                            "boyfriend-prompt boyfriend-input"
                            "age-prompt age-input"
                            "sign-prompt sign-input"
                            "e-prompt  e-input"
                            "phone-prompt  phone-input"
                            "submit-button submit-button";
    grid-template-columns: repeat(autofill, 5px);
    grid-template-rows: repeat(autofit minmax(30px, 2fr));
    gap: 10px 10px;
    height: 90vh;
    border: solid 5px rgb(90, 39, 105, .5);
    border-radius: 50px;
    overflow: hidden;
}
#description{
    grid-area: description;
    grid-column: 1 / 3;
    justify-content: center;
    text-align: center;
    grid-template-rows: (300px); /*nope*/
}
.prompt{
    justify-content: end;
    text-align: end;
}
.input{
    justify-content: start;
    background-color: rgb(90, 39, 105, .5);
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: var(--main-text-color);
    opacity: .5; /* Firefox */
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: var(--main-text-color);
}
::-ms-input-placeholder { /* Microsoft Edge */
    color: var(--main-text-color);
}
#name-prompt{
    grid-area: name-prompt;
}
#name-input{
    grid-area: name-input;
}
#boyfriend-prompt{
    grid-area: boyfriend-prompt;
}
#boyfriend-input{
    grid-area: boyfriend-input;
}
#age-prompt{
    grid-area: age-prompt;
}
#age-input{
    grid-area: age-input;
}
#sign-prompt{
    grid-area: sign-prompt;
}
#sign-input{
    grid-area: sign-input;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.button{
    display: block;
    min-width: 50px;
    font-size: .8em;
}
#email-prompt{
    grid-area: e-prompt;
}
#email-input{
    grid-area: e-input;

}
#email-input, #age-input :invalid{
    background-color: yellow;
}
#number-prompt{
    grid-area: phone-prompt;
}
#number-input{
    grid-area: phone-input;
}
#verbose {
    font-size:.8em;
}
#submit-button{
    grid-area: submit-button;
    text-align: center;
    Grid-template-columns: 50px;/*(minmax(100px, 20%))*/
}
}



/*
To do: design for mobile first, then media queries for font
upsizing on desktop, the rest of the design should be the same.

for ie/edge, put in @supports (display:grid){} for all my grid styling, I also want to make this work with flexbox styling for ie/edge
*/