*{
    box-sizing: border-box;
    /* Time to define my custom variables */
    --main-bg-color: #504486;
    --form-bg-color: #ACA4D0;
    --main-text-color: #211118;
    --emphasis-text-color:#773652;
    --accent-colors: #5A2769; /* RGB: rgb(90, 39, 105)*/
    font-family: 'Acme', sans-serif;
}
html{
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
}
#Title{
    text-justify: center;
    text-align: center;
    height: 5vh;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 2em;
}
#survey-form{
    font-size: 1.25em;
    line-height: 1.25em;
    display: grid;
    padding: 10px;
    background-color: var(--form-bg-color);
    margin-left: 10%;
    margin-right: 10%;
    grid-template-areas:    "description description"
                            "name-prompt  name-input"
                            "boyfriend-prompt boyfriend-input"
                            "age-prompt age-input"
                            "e-prompt  e-input"
                            "phone-prompt  phone-input";
    grid-template-columns: 1fr 1fr;
    gap: 10px 10px;
    height: 80vh;
    border: solid 5px rgb(90, 39, 105, .5);
    border-radius: 5px;
    justify-content: center;
    align-content:center;

}
#description{
    grid-area: description;
    grid-column: 1 / 3; /*Why isn't this stratching the description across the top? */
}
.form-row{
    min-height: 30px;
    max-height: 1fr; /* don't think this is doing anything I think I ought to set height limits, does grid not resize text to fit? */
}
.prompt{
    justify-content: end;
}
.input{
    justify-content: start;
    background-color: rgb(90, 39, 105, .5);
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: color: var(--main-text-color);
    opacity: .5; /* Firefox */
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: color: var(--main-text-color);
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
    color: color: var(--main-text-color);
  }
#name-prompt{
    grid-area: name-prompt;
}
#name-input{
    grid-area: name-input;
}
#boyfriend-prompt{
    grid-area: boyfriend-prompt;
}
#boyfriend-input{
    grid-area: boyfriend-input;
}
#age-prompt{
    grid-area: age-prompt;
}
#age-input{
    grid-area: age-input;
}
#email-prompt{
    grid-area: e-prompt;
}
#email-input{
    grid-area: e-input;
}
#number-prompt{
    grid-area: phone-prompt;
}
#number-input{
    grid-area: phone-input;
}



/*
To do: design for mobile first, then media queries for font
upsizing on desktop, the rest of the design should be the same.
*/